@{
    ViewBag.Title = "Bienvenido!";
}
<html lang="es">
<body>

    <section class="jumbotron">
        <div class="container">
            <h1>TICKNET</h1>
            <p>El mejor lugar para vender tus entradas!</p>
        </div>
    </section>

</body>
</html>