*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:  900px;    
    background-color: lightskyblue
}
#wraper{background-color: beige}
header{height: 80px;}
.h{
    display: inline-block;
    vertical-align: top}
#logo{height: 100%; 
        width: 730px;
        background-image: url(../images/teleticket.gif);
        background-repeat: round;}

#login{
    height: 80px;
    width: 80px; 
    background-image: url(../images/login.png);
    background-repeat: round
}
#search{outline: none; 
    height: 80px;
    width: 80px;
    background-image: url(../images/search.png);
    background-repeat: round
}
#search:hover, #login:hover{
    border: 2px solid blue
}

/*barra de busqueda*/
#searchName{display: none}
#searchNameButton, #eventName{vertical-align: top}
#eventName{width: 800px;
    height: 50px;
    font-size: 30px}
#searchNameButton{width: 80px;height: 50px}

/*Barra de navegacion*/
nav{height: 300px}
li{display: inline-block; 
    cursor: pointer;  
    vertical-align: top;          
    height: 35px;}
#menu{height: 35px}
#menu li{width: 130px;
    height: 35px; 
    background-color: darkblue; 
    padding: 10px; 
    margin-right: -5px;
}
#menu a{text-decoration: none; color: white;}


/*Seccion busqueda de eventos*/
#busqueda{height: 40px;padding: 8px}
span{margin-left: 5px}
.fecha{margin-left: 5px}
#serchByFilter{height: 25px; 
    vertical-align: top; 
    width: 75px;
    text-align: center;
    padding: 5px;
    background-color: darkblue;
    color: white}
#serchByFilter:hover, a:hover{font-weight: bold}

/*barra de navegacion*/
.titulo{height: 50px;background-color: darkblue;color: white;padding: 10px}
.link{color: white;text-decoration: none}
.link:hover{text-decoration: underline}

/*Seccion principal*/
section{height: 1200px;padding: 10px}
#details1,#details2{display: inline-block;vertical-align: top;border: 1px solid darkblue}
#details{height: 500px}

/*parte izquierda de los detalles*/
#details1{
    width: 200px;
    height: inherit;
}
#details1 *{margin-bottom: 20px}
#eventImg{
    height: 150px;
    background-image: url(../images/tomas.jpg);
    background-repeat: round;    
}

/*parte derecha de los detalles*/
#details2{width: 660px;
        height: inherit;
}
p{padding: 0 8px;text-align: justify;font-size: 15px}

/*Parte de entradas y boletos*/
#datePrices{height: 400px;border: 1px solid darkblue}

/*parte de comentarios*/
#coments{height: 300px;border: 1px solid darkblue}

/*footer*/
footer{height: 50px;text-align: center;color: white;background-color: darkblue;padding-top: 15px}



#details span{font-weight: bold;}














