*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{width:  900px;    
    background-color: lightskyblue}
#wraper{background-color: beige}
header{height: 80px;}
.h{display: inline-block;vertical-align: top}
#logo{height: 100%; 
        width: 730px;
        background-image: url(../images/teleticket.gif);
        background-repeat: round;}

#login{height: 80px;width: 80px; background-image: url(../images/login.png);background-repeat: round}
#search{outline: none; height: 80px;width: 80px; background-image: url(../images/search.png);background-repeat: round}
#search:hover, #login:hover{border: 2px solid blue}

/*barra de busqueda*/
#searchName{display: none}
#searchNameButton, #eventName{vertical-align: top}
#eventName{width: 800px;height: 50px;font-size: 30px}
#searchNameButton{width: 80px;height: 50px}

/*Barra de navegacion*/
nav{height: 300px}
li{display: inline-block; cursor: pointer;  vertical-align: top;          
            height: 35px;}
#menu{height: 35px}
#menu li{width: 130px;
    height: 35px; 
    background-color: darkblue; 
    padding: 10px; 
    margin-right: -5px;
}
#menu a{text-decoration: none; color: white;}


/*Seccion busqueda de eventos*/
#busqueda{height: 40px;padding: 8px}
span{margin-left: 5px}
.fecha{margin-left: 5px}
#serchByFilter{height: 25px; 
    vertical-align: top; 
    width: 75px;
    text-align: center;
    padding: 5px;
    background-color: darkblue;
    color: white}
#serchByFilter:hover, a:hover{font-weight: bold}

/*barra de navegacion*/
.titulo{height: 50px;background-color: darkblue;color: white;padding: 10px}
.link{color: white;text-decoration: none}
.link:hover{text-decoration: underline}

/*Seccion principal*/
section{margin: 0 15px ;height: 800px;padding: 15px}
section form{
    width: 95%;
    height: 750px;
    vertical-align: top;
    border: 2px solid darkblue;
    margin-left: 15px;
    padding: 10px;
}
img{margin-left: 145px;
    margin-top: 15px;
    border: 2px solid darkblue}
#formulario *{margin-left: 200px; margin-bottom: 3px }

/*Datos de ingreso*/
#emailText,#password,#passwordConfirm{width: 210px; height: 20px}
#emailText{margin-left: 10px}
#password{margin-left: 76px}
#passwordConfirm{margin-left: 5px}
.button{margin-left: 140px;color: white;background-color: darkblue;height: 30px;width: 110px;margin-bottom: 0}
#forgotPassword{margin-left: 140px; font-size: 12px;}
#newe{margin-left: 145px;}
#register{margin-top: 43px}

/*Datos personales*/
#name,#lastname1,#lastname2,#documentNumber{width: 210px; height: 20px}
#name{margin-left: 94px}
#lastname1{margin-left: 41px;}
#lastname2{margin-left: 39px;}
#documentType{margin-left: 22px}
#documentNumber{margin-left: -4px}
#ddSelect{margin-left: 10px}
#mmSelect{margin-left: 2px}
#yySelect{margin-left: 2px}

/*Datos de ingreso*/
#address, #telephoneNumber, #cellphoneNumber{width: 210px; height: 20px}
#address{margin-left: 93px;}
#state{margin-left: 58px;}
#provincia{margin-left: 94px;} 
#distrito{margin-left: 110px;}
#telephoneNumber{margin-left: 56px;} 
#cellphoneNumber{margin-left: 56px;}

/*Terminos y condicones*/
#agreeTerminos{margin-left: 0px}
/*Botones*/
#agreeButton{margin-left: 270px;}
#denyButton{margin-left: 30px;}

/*footer*/
footer{height: 50px;text-align: center;color: white;background-color: darkblue;padding-top: 15px}


















